# Return Data

In [3]:
import pandas as pd
df=pd.read_csv("returns_data.csv")
df.head()

,time_of_purchase,club_membership,checkout_type,payment_method,product_code,department,items_in_purchase,cost,cashier,return
0,21062021--10:51,pos,regular,3210slv_585,NIK3_dscnt_3906786,grocery,10,25.00,45,0
1,21062021--11:04,pos,regular,1680slv_162,NIK3_dscnt_3710510,fashion,126,291.60,48,1
2,21062021--11:16,neg,regular,5630gld_656,CONV_resp_2019589,ready food,13,1.28,69,0
3,21062021--11:16,neg,regular,1680std_266,CONV_resp_4862207,small appliances,9,13.93,31,0
4,21062021--11:17,neg,regular,4580std_304,CONV_ssnl_2433974,hobby,14,11.33,51,0

# 1. What fraction of items end up being returned?

In [4]:
df['return'].value_counts()

0    4812
1     688
Name: return, dtype: int64

# 2. What fraction of items costing 1000 or more end up being returned?

In [20]:
df[(df["cost"] > 1000) & (df["return"] ==1)].count()['return']

26

# 3. Which of the following departments has the highest ratio of returns?
A Books B. Fashion C. Grocery D. Small appliances E. Outdoor furniture F. Toys

In [21]:
new_df=df.loc[df['department'].str.contains('books|fashion|grocery|small appliances|outdoor furniture|toys' ,regex=True)]

c = new_df.groupby('department').sum()

c = c.sort_values(['return'], ascending=False)
c['ratio']=c['return']/(df['return'].count())*100
c[['ratio','return']]

                      ratio  return
department
fashion            7.690909     423
grocery            0.527273      29
small appliances   0.454545      25
toys               0.290909      16
books              0.127273       7
outdoor furniture  0.036364       2

# 4. Which of the following departments has the highest number of returns?
A Books B. Fashion C. Grocery D. Small appliances E. Outdoor furniture F. Toys

In [7]:
new_df=df.loc[df['department'].str.contains('books|fashion|grocery|small appliances|outdoor furniture|toys' ,regex=True)]

c = new_df.groupby('department').sum()

c = c.sort_values(['return'], ascending=False)
c['return']

department
fashion              423
grocery               29
small appliances      25
toys                  16
books                  7
outdoor furniture      2
Name: return, dtype: int64

In [16]:
df['return'].count()

5500